.header {
  padding: 27px 38px 33px;
  @media (max-width: $mobile) {
    padding: 17px 0px;
  }
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    gap: 215px;
    @media (max-width: $tablet) {
      justify-content: space-between;
      gap: 60px;
    }
  }
  // .header__logo
  &__logo {
    max-width: toRem(79);
    position: relative;
    z-index: 3;
    img {
      width: 100%;
    }
  }
  // .header__menu
  &__menu {
  }
}
.menu {
  // .menu__icon
  &__icon {
  }
  // .menu__body
  &__body {
    @media (max-width: $mobile) {
      position: fixed;
      width: 100%;
      height: 100%;
      left: -100%;
      top: 0;
      overflow: auto;
      padding: toRem(120) toRem(15) toRem(15) toRem(30);
      background: #fff;
      z-index: 2;
      transition: left 0.3s;
      &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: toRem(70);
        left: -100%;
        top: 0;
        transition: left 0.3s;
        z-index: 2;
      }
      .menu-open & {
        left: 0;
        &::before {
          left: 0;
        }
      }
    }
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    gap: 28px;
    font-size: toRem(20);
    line-height: math.div(36, 20);
    transition: color 0.3s;
    @media (max-width: $mobile) {
      flex-direction: column;
    }
  }
  // .menu__item
  &__item {
  }
  // .menu__link
  &__link {
    @media (any-hover: hover) {
      &:hover {
        color: $red;
      }
    }
  }
}

//Burger Icon
.icon-menu {
  display: none;
  @media (max-width: $mobile) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}
